body{
font-family: Arial;
margin:0;
}

.navbar{
list-style:none;
margin:0;
padding:0;
background:#2e7d32;
overflow:hidden;
}

.navbar li{
float:left;
}

.navbar li a{
display:block;
color:white;
padding:14px 20px;
text-decoration:none;
}

.navbar li a:hover{
background:#1b5e20;
}

.dropdown-content{
display:none;
position:absolute;
background:#f9f9f9;
min-width:150px;
}

.dropdown-content li{
float:none;
}

.dropdown-content li a{
color:black;
}

.dropdown:hover .dropdown-content{
display:block;
}
